/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 6rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroTitle {
  font-family: "Sora", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-align: start;
}

.heroSubtitle {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: start;
}

.heroCaption {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: end;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
